data
Autoruns.exe
BOOTICEx64.exe
BatteryInfoView.cfg
HWiNFO32.exe
HWiNFO64.exe
Hardcodet.Wpf.TaskbarNotification.dll
MouseJiggle.exe
PingInfoView.chm
PingInfoView.exe
Procmon.exe
Procmon64.exe
RDCMan.exe
ResourcesExtract.cfg
ResourcesExtract.chm
ResourcesExtract.exe
imdiskinst.exe
SearchMyFiles.cfg
SearchMyFiles.chm
SearchMyFiles.exe
TestLimit64.exe
WinSCP.exe
WinSCP.ini
WindowGrid.log
rclone.log
_get_rclone.cmd
depends.chm
depends.dll
depends.exe
ep_setup.exe
exif_loader.exe
gvim91p
gvim_9.1.0_x64_signed.zip
gvim_9.1.0_x64_signed.exe
pageant.exe
pinginfoview.zip
plink.exe
procexp.exe
procexp64.exe
proj.db
prometheus.exe
prometheus.yml
promtool.exe
pscp.exe
pterm.exe
putty.exe
puttygen.exe
rclone-current-windows-amd64.zip
rclone.exe
readme.txt
resourcesextract-x64.zip
searchmyfiles-x64.zip
shp_doctor.exe
shp_sanitize.exe
spatialite.exe
spatialite_convert.exe
spatialite_dem.exe
spatialite_dxf.exe
spatialite_gml.exe
spatialite_network.exe
spatialite_osm_filter.exe
spatialite_osm_map.exe
spatialite_osm_net.exe
spatialite_osm_overpass.exe
spatialite_osm_raw.exe
spatialite_tool.exe
spatialite_xml2utf8.exe
spatialite_xml_collapse.exe
spatialite_xml_load.exe
spatialite_xml_print.exe
spatialite_xml_validator.exe
speedtest.exe
sqldiff.exe
sqlite-tools-win-x64-3450300.zip
sqlite3.exe
sqlite3_analyzer.exe
tcping.exe
telegraf.exe
telegraf-1.32.3.exe
unzip.exe
wget.exe
gvim.bat
gvimdiff.bat
vim.bat
vimdiff.bat
js.cab
js.cab.b4
iconsext.cfg
XVI32.exe
XVI32.ini
XVI32U.chm
genpass.exe
Barcode2DGen.exe

kageant.exe
kitty-beta.exe
kitty.exe
kitty_nocompress.exe
kitty_portable.exe
kittygen.exe
klink.exe
kscp.exe
ksftp.exe

api-ms-win-core-console-l1-1-0.dll
api-ms-win-core-console-l1-2-0.dll
api-ms-win-core-datetime-l1-1-0.dll
api-ms-win-core-debug-l1-1-0.dll
api-ms-win-core-errorhandling-l1-1-0.dll
api-ms-win-core-fibers-l1-1-0.dll
api-ms-win-core-file-l1-1-0.dll
api-ms-win-core-file-l1-2-0.dll
api-ms-win-core-file-l2-1-0.dll
api-ms-win-core-handle-l1-1-0.dll
api-ms-win-core-heap-l1-1-0.dll
api-ms-win-core-interlocked-l1-1-0.dll
api-ms-win-core-libraryloader-l1-1-0.dll
api-ms-win-core-localization-l1-2-0.dll
api-ms-win-core-memory-l1-1-0.dll
api-ms-win-core-namedpipe-l1-1-0.dll
api-ms-win-core-processenvironment-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-1.dll
api-ms-win-core-profile-l1-1-0.dll
api-ms-win-core-rtlsupport-l1-1-0.dll
api-ms-win-core-string-l1-1-0.dll
api-ms-win-core-synch-l1-1-0.dll
api-ms-win-core-synch-l1-2-0.dll
api-ms-win-core-sysinfo-l1-1-0.dll
api-ms-win-core-timezone-l1-1-0.dll
api-ms-win-core-util-l1-1-0.dll
api-ms-win-crt-conio-l1-1-0.dll
api-ms-win-crt-convert-l1-1-0.dll
api-ms-win-crt-environment-l1-1-0.dll
api-ms-win-crt-filesystem-l1-1-0.dll
api-ms-win-crt-heap-l1-1-0.dll
api-ms-win-crt-locale-l1-1-0.dll
api-ms-win-crt-math-l1-1-0.dll
api-ms-win-crt-multibyte-l1-1-0.dll
api-ms-win-crt-private-l1-1-0.dll
api-ms-win-crt-process-l1-1-0.dll
api-ms-win-crt-runtime-l1-1-0.dll
api-ms-win-crt-stdio-l1-1-0.dll
api-ms-win-crt-string-l1-1-0.dll
api-ms-win-crt-time-l1-1-0.dll
api-ms-win-crt-utility-l1-1-0.dll

arrow.dll
arrow_acero.dll
arrow_dataset.dll

osmium.exe
bzip2.dll
charset.dll
concrt140.dll
cygtermd.exe
cygwin1.dll
gdal_data.7z
gdal310.dll
freexl.dll
freetype.dll
Lerc.dll
geos.dll
geos_c.dll
jpeg62.dll
blosc.dll
boost_atomic.dll
boost_chrono.dll
boost_container.dll
boost_context.dll
boost_contract.dll
boost_coroutine.dll
boost_date_time.dll
boost_fiber.dll
boost_filesystem.dll
boost_graph.dll
boost_iostreams.dll
boost_json.dll
boost_locale.dll
boost_log.dll
boost_log_setup.dll
boost_math_c99.dll
boost_math_c99f.dll
boost_math_c99l.dll
boost_math_tr1.dll
boost_math_tr1f.dll
boost_math_tr1l.dll
boost_nowide.dll
boost_prg_exec_monitor.dll
boost_program_options.dll
boost_random.dll
boost_regex.dll
boost_serialization.dll
boost_stacktrace_noop.dll
boost_stacktrace_windbg.dll
boost_stacktrace_windbg_cached.dll
boost_system.dll
boost_thread.dll
boost_timer.dll
boost_type_erasure.dll
boost_unit_test_framework.dll
boost_url.dll
boost_wave.dll
boost_wserialization.dll
brotli.exe
brotlicommon.dll
brotlidec.dll
brotlienc.dll
hdf.dll
hdf5.dll
hdf5_cpp.dll
hdf5_hl.dll
hdf5_hl_cpp.dll
hdf5_tools.dll
libbz2.dll
libcurl.dll
libexpat.dll
liblz4.dll
liblzma.dll
libmysql.dll
libpng16.dll
libsharpyuv.dll
libwebp.dll
libwebpdecoder.dll
libwebpdemux.dll
libwebpmux.dll
libxml2.dll
libzstd.dll
lz4.dll
mfhdf.dll
msvcp140.dll
msvcp140_1.dll
msvcp140_2.dll
msvcp140_atomic_wait.dll
msvcp140_codecvt_ids.dll
netcdf.dll
ogdi.dll
ogr2ogr.exe
ogrinfo.exe
openjp2.dll
openjpip.dll
iconv.exe
iconv.dll
iconv-2.dll
parquet.dll
poppler.dll
proj_9.dll
readme_resourcesextract.txt
spatialite.dll
sqlite3.dll
sqlite3_cyg.exe
szip.dll

thriftmd.dll
thriftzmd.dll
tiff.dll
ucrtbase.dll
unzip.exe
upx.exe
vcamp140.dll
vccorlib140.dll
vcomp140.dll
vcruntime140.dll
vcruntime140_1.dll
vcruntime140_threads.dll
wget.x64.exe
xerces-c_3_2.dll
yt-dlp.exe
zlib.dll
zstd.dll


jxl.dll
jxl_cms.dll
jxl_threads.dll
