*.ani
*.gif
*.ico
*.bmp
*.cur
getOldMsiPatches.exe
getOldMsiPatches32.exe
getOldMsiPatches64.exe
icons31.7z
icons95_a.7z
icons98.7z
icons98_plus.7z
iconsNT34.7z
icons_2000.7z
icons_plus98only.7z
icons_pos2009.7z
icons_win2003udss.7z
icons_xp-noxp.7z
icons_xp.7z
